.about-content {
  padding: 15px;
  p {
    font-size: 25px;
    text-align: left;
  }
  .about-image {
    max-width: 100%;
    border-radius: 50px;
    height: auto;
    @media (min-width: $breakpoint-tablet) {
      border-radius: 15px;
    }
  }
}
