.container_home {
  padding: 15px;
  .content-home {
    .presentation {
      font-size: 25px;
      text-align: left;
      p {
        margin: 5px;
      }
    }
    .react-svg {
      width: 40px;
    }
  }
}
