body {
  #root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  h2.title_page {
    white-space: nowrap;
    font-size: 35px;
  }
  .application-container {
    padding-left: 0px;
    padding-right: 0px;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row;
      .title_page {
        display: none;
      }
    }
  }
  .title {
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    padding: 0px;
  }
  .skills-content {
    @include fadeInUtil;
    margin-top: 10px;
    div {
      p {
        font-weight: bold;
      }
    }
  }
  .container_home {
    @include fadeInUtil;
  }
  .about-content {
    @include fadeInUtil;
  }
  .resume-content {
    @include fadeInUtil;
  }
  .container_form {
    @include fadeInUtil;
  }
  .containter-experience {
    @include fadeInUtil;
  }
}
